PySide6 # Qt UI
pygame # playing audio
yt-dlp # downloading audio
mutagen # audio metadata
Pillow # image processing
requests
pyinstaller # to bundle the app
# Additional notes:
# - ffmpeg executable should be installed on the system and available in PATH
