[Desktop Entry]
Type=Application
Name=MP3 Qt
Comment=Play local MP3 files
Exec=${INSTALL_DIR}/mp3qt
Icon=mp3qt
Terminal=false
Categories=AudioVideo;Player;
